<head>
<script src=”https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js”></script>
    <script>
window.onload = function() {
    document.addEventListener(“contextmenu”, function(e){
        e.preventDefault();
        if(event.keyCode == 123) {
        disableEvent(e);
    }
    }, false);
 function disableEvent(e) {
        if(e.stopPropagation) {
            e.stopPropagation();
        } else if(window.event) {
            window.event.cancelBubble = true;
        }
    }
}
$(document).contextmenu(function() { return false;});
url = “fileUrl”;
var thePdf = null;
var scale = 1;
pdfjsLib.getDocument(url).promise.then(function(pdf) {
          thePdf = pdf;
          viewer = document.getElementById(‘pdf-viewer’);
          for(page = 1; page <= pdf.numPages; page++) {
            canvas = document.createElement(“canvas”);
            canvas.className = ‘pdf-page-canvas’;
            viewer.appendChild(canvas);
            renderPage(page, canvas);
          }
      });
      function renderPage(pageNumber, canvas) {
          thePdf.getPage(pageNumber).then(function(page) {
            viewport = page.getViewport(scale);
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            page.render({canvasContext: canvas.getContext(‘2d’), viewport: viewport});
      });
      }
</script>
</head>
<div class="pdf_block">
    <h2>{{ display_name }}</h2>
    <object data="{{ url }}#toolbar=0" type="application/pdf" width="100%" height="600">
        <p>
            It appears you don't have a PDF plugin for this browser.</a>
        </p>
    </object>
    {% if allow_download or source_url != "" %}
    <ul>
        {% if allow_download %}
        <li class="pdf-download-button">
            <a href="{{ url }}" download>Download the PDF</a>
        </li>
        {% endif %}
        {% if source_url != "" %}
        <li class="pdf-download-button">
            <a href="{{ source_url }}" download>{% if source_text == "" %}Download the source document{% else %}{{ source_text }}{% endif %}</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
